/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d1e7d1; /* Background hijau */
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    background-color: #d4dcd4; /* Sidebar hijau muda */
    height: 100vh;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 2rem;
    color: #000000; /* Teks hitam */
    margin-bottom: 30px;
}

.menu {
    list-style-type: none;
}

.menu li {
    margin-bottom: 15px;
}

.menu li a {
    display: block;
    text-decoration: none;
    background-color: #f0e8ff; /* Ungu muda */
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.menu li a:hover {
    background-color: #e0d6f0; /* Hover lebih gelap */
}

.logout-container {
    text-align: center;
}

.logout {
    background-color: #643939;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.logout:hover {
    background-color: #503030; 
}

.main-content {
    flex-grow: 1;
    background-color: #b7d3b7; /* Hijau terang */
    padding: 20px;
}
