* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #35A29F;
  }
  
  main {
    display: grid;
    margin: 1rem;
  }
  
  .Kembali {
    margin: 1rem;
  }
  
  .Kembali a {
    text-decoration: none;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  
  form {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1rem;
    width: 60%;
    padding: 2rem;
    place-self: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .opsi {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-asal, .to-tujuan {
    flex: 1;
    margin-right: 1rem;
  }
  
  .to-tujuan {
    margin-right: 0;
  }
  
  select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  
  .opsiopsi {
    display: flex;
  }
  
  .date {
    margin-top: 1rem;
    width: 100%;
  }
  
  .search {
    margin: 3rem 0 0;
  }
  
  .search a {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1rem;
  }
  
  input[type="date"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  