* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2.5rem;
}

.tampilsatu {
    display: flex;
    gap: 2rem;
}

.bus {
    display: flex;
    flex-direction: column;
    background-color: #B9E5E8;
    width: 65%;
    padding: 2rem 3rem 0;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.bus img {
  width: 50%;
}

.bus p {
    font-size: 1.3rem;
}

.bus h1 {
    font-size: 2rem;
}

aside {
    width: 35%;
}

.bussart {
    margin-bottom: 2rem;
}

.buss {
    background-color: #B9E5E8;
    border-radius: 1rem;

    padding: 1px 1rem 1.2rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.buss h1 {
    font-size: 20px;
    color: #2C7873;
}

.buss p {
    font-size: 16px;
    color: #555;
}

.buss a {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2C7873;
    color: #fff;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.buss a:hover {
    background-color: #35A29F;
}

.tampildua {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #B9E5E8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tampildua article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tampildua img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.tampildua img:hover {
    transform: scale(1.2);
}
