* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

[tabindex="0"]:focus {
  outline: 2px solid #243642;
  border-radius: 0.4rem;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  background-color: #c4e1f6;
}

header,
main {
  display: flex;
  height: 100vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  height: 120px;
}

main {
  margin-left: 16%;
  padding-top: 120px;
  width: 84%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 16%;
  padding: 20px;
  background-color: #5390a6;
  height: 100vh;
  justify-content: space-between;
}

.navbar h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 30px;
}

@media (max-width: 1500px) {
  .navbar h1 {
    font-size: 2rem;
  }
  .menu li a {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .navbar h1 {
    font-size: 1.5rem;
  }
  .menu li a {
    font-size: 1rem;
  }
}

.navbar img {
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.menu {
  list-style-type: none;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  display: block;
  text-decoration: none;
  background-color: #f0e8ff;
  color: #333333;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.menu li a:hover {
  background-color: #e0d6f0;
}

.logout-container {
  text-align: center;
}

.logout {
  background-color: #643939;
  color: #ffffff;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.logout:hover {
  background-color: #503030;
}

.main-content {
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  padding-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 2rem;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #333;
  color: #fff;
}

table td {
  background-color: #fff;
}

td .edit,
td .hapus {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

td .edit {
  background-color: #5bc0de;
}

td .edit:hover {
  background-color: #46a6c8;
}

td .hapus {
  background-color: #d9534f;
  margin-left: 5px;
}

td .hapus:hover {
  background-color: #c9302c;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-buttons button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.action-buttons a {
  background-color: #5bc0de;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.action-buttons a:hover {
  background-color: #31b0d5;
}

.delete-button {
  background-color: #d9534f;
}

.delete-button:hover {
  background-color: #c9302c;
}

.rekap a {
  background-color: #5bc0de;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}

.rekap a:hover {
  background-color: #31b0d5;
}

button.add-schedule {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button.add-schedule:hover {
  background-color: #4cae4c;
}

.tambah-rute {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

a {
  text-decoration: none;
}
